body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    /* background-color: hsl(225, 100%, 98%); */
    background-color: white;
    border-radius: 20px;
    max-width: 375px;
    margin: auto;
}

.image {
    height: 183px;
    background-image: url(../images/illustration-hero.svg);
    background-size:contain;
    border-radius: 20px 20px 0 0 ;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.text-area {
    /* font-family: 'Red Hat Display', sans-serif; */
    text-align: center;
    padding: 0 2em;
}

h1 {
    color: hsl(223, 47%, 23%);
}

p {
    color: hsl(224, 23%, 55%);
    line-height: 1.5em;
}

.pricing {
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    margin: 1.5em;
    padding: 1em;
    display: flex;
}

.icon {
    padding-right: 1.5em;
}

h4 {
    margin: 0;
    padding-right: 4em;
}

.price-per-year {
    margin: 0;
}

.price-change {
    padding: 1em 0;
}

button {
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    color: hsl(225, 100%, 98%);
    font-weight: 700;
    margin: 0 2em;
    padding: 1.2em 7.1em;
    box-shadow: 0 .5em 65px hsl(224, 23%, 55%);
}

.cancel {
    font-weight: 700;
    padding: 2em 8.5em;
    /* padding-bottom: 2em; */
    text-decoration: none;
}

.cancel-order {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }